/**
 * Sizes
 * ======
 *  - small: < 40em
 *  - medium: 40em < 64em
 *  - large: 64em and greater
 */
@mixin size($size) {
    @if $size == small {
        @media screen and (max-width: 39.99em) {
            @content;
        }
    } @else if $size == medium {
        @media screen and (min-width: 40em) and (max-width: 63.99em) {
            @content;
        }
    }
}