@import 'grid';

.row {
    display: block;
    // Clearfix hack
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

// { size } - { # of columns out of 4 in a 4 column grid. }
//     ========================
// 1: | ___ | ___ | ___ | ___ |
// 2: | ___   ___ | ___ | ___ |
// 3: | ___   ___   ___ | ___ |
// 4: | ___   ___   ___   ___ |

.md-1 {
    @include grid(medium, 1);
}

.md-2 {
    @include grid(medium, 2);
}

.md-3 {
    @include grid(medium, 3);
}

.md-4 {
    @include grid(medium, 4);
}

.sm-1 {
    @include grid(small, 1);
}

.sm-2 {
    @include grid(small, 2);
}

.sm-3 {
    @include grid(small, 3);
}

.sm-4 {
    @include grid(small, 4);
}

article {
    padding: 30px;
    box-sizing: border-box;
    background-color: green;
}

aside {
    padding: 30px;
    box-sizing: border-box;
    background-color: blue;
}