@import 'buttons';

$a: blue;

body {
    background-color: $a;
}

a {
    color: $a
}

div {
    color: yellow;
    a {
        text-decoration: none;
    }
    &:hover {
        color: blue;
    }
}

// Simple Mixin Demonstration.
@mixin fancy {
    color: purple;
    font-style: italic;
    &:hover {
        text-decoration: dashed;
    }
}

h1.fancy {
    @include fancy;
}

p.fancy {
    @include fancy;
    font-size: 18px;
}

