@import 'colors'
@import '~bootstrap'
@import 'articles'
@import 'header'
@import 'footer'

body
    background-color: $background

.user
    display: block

.auth-user
    display: none

div.container
    min-height: calc(100vh - 258px)


#cats
    margin-top: 15px
    img
        max-width: 400px
        max-height: 400px