@import 'colors';
@import 'nav';
@import 'size';

body {
    background-color: $color;
    padding: 0;
    margin: 0;
}

.mobile-only {
    display: none;
    @include size(sm) {
        display: block
    }
}

.tablet-only {
    display: none;
    @include size(md) {
        display: block
    }
}

.desktop-only {
    display: none;
    @include size(large) {
        display: block
    }
}