@import 'fonts';
@import 'colors';

body {
    background-color: $blue;
    color: $white;
}

header {
    display: flex;
}

p {
    font-family: $p-font;
}

a {
    color: $link-blue;

}

.content {
    background-color: $light-blue;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

#profile-photo {
    padding: 20px;
    img {
        width: 120px;
        height: 120px;
        border-radius: 60px;
    }
}

#header-title {
    padding: 20px;

    h1 {
        font-family: $header-font;
        font-weight: 100;
        margin: 5px 0 15px;
    }

    h2 {
        font-family: $header-font;
        font-size: 1.1rem;
        font-weight: 100;
        font-style: italic;
    }
}

section {
    h1 {
        font-family: $header-font;
        font-weight: 100;
        text-align: center;
        text-decoration: underline;
    }

    article {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        // Don't show border on last article
        &:last-child {
            border-bottom: none;
        }
        // Clearfix hack
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }

    img {
        float: left;
        margin: 4px 20px 0 0;
        max-width: 40%;
        border-radius: 4px
    }
}